.App {
  text-align: center;
}

/* .text-input {
  margin-right: 20px;
} */

.player-list-grid {
  margin-top: 20px !important;
  background-color: lightblue;
  width: 100% !important;
  /* width: 50% !important; */
  margin: auto;
}

.player-list-grid-item {
  width: 100%;
}